<strong>Olá, {{ name }}</strong>
<p>Obrigado por se cadastrar na nossa api:</p>
<p>Por favor clique no link para <a href="http://{{ host }}/reset_confirmation/{{ code }}">confirmar</a> sua conta.</p>
